* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: white;
  padding-left: 20px;
  height: 650px;
  background: linear-gradient(-45deg, lightblue, dodgerblue, darkblue, blue, white);
  background-repeat: no-repeat;
  background-size: 400% 400%;
  animation: gradientBG 15s ease infinite;
}

@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

h3 {
  color: gray;
  text-shadow: black 2px 2px 2px;
  font-family: cursive;
  text-transform: uppercase;
}
table,
th,
td {
  border: 2px double gold;
  border-collapse: collapse;
}
th,
td {
  padding: 5px;
}
.add,
.delete {
  color: white;
  padding: 2px;
}
.add {
  background: green;
}
.delete {
  background: url("trash-can.jpg");
  background-repeat: no-repeat;
  background-size: 20px 20px;
}
input {
  cursor: pointer;
}
.readForm input {
  margin: 1px;
}
.readForm input:hover {
  background: lightyellow;
}
.readForm input:focus {
  background-color: gold;
}
input[type="submit"] {
  background-color: white;
  color: red;
}
input[type="submit"].add {
  background-color: white;
  color: green;
}

input[type="submit"]:hover {
  background-color: red;
  color: white;
}
input[type="submit"].add:hover {
  background-color: green;
  color: white;
}

img {
  position: absolute;
  top: 100px;
  left: 300px;
}

#header, #footer {
  text-align: center;
  font-size: 150%;
  height: 50px;
  padding-top: 10px;
  background-color: black;
  color: #eee;
}