	<style>
		* {
			margin: 0;
			padding: 0;
			box-sizing: border-box;
		}
		html {
			background: linear-gradient(lightblue, dodgerblue, blue, purple);
			background-repeat: no-repeat;
			color: white;
		}
		table, th, td {
			border: 2px solid gold;
			border-collapse: collapse;
		}
		th, td {
		  padding: 5px;
		}
		.add {
			background: green;
			color: white;
		}
		.delete {
			background-color: red;
			color: white;
				background: url('trash-can.jpg');
	background-repeat: no-repeat;
	background-size: 20px 20px;

		}
		input {
			cursor: pointer;
		}
		.readForm input {
			margin: 1px;
		}
		.readForm input:focus {
			background-color: lightyellow;
		}

	</style>
